div.container
    div.footer
        hr(style='margin: 30px 0 10px 0;')
        p.pull-left &copy;&nbsp;
            a(href='#{authorLink}')= author
            &nbsp;2013. This site not affiliated with Grinding Gear Games.

        div.pull-right
            include mixpanel-logo.html


    block footer