extends layout

block content
    div.container
        h1= title
        p Hello World!

        div.alert.alert-info
            b TODO:&nbsp;
            br
            | &raquo; Make item header scale to title / stats
            br
            | &raquo; Add experience bar for gems
            br
            | &raquo; Add item sockets / links
            br
            br
            br
            br
            br


        hr

        div.well

        div(style="height:5000px;")