<div class="item-container">
    <div class="item-content">

        <div class="header-gem">
            <div class="header-gem-l"></div>
            <div class="header-gem-r"></div>
            <div class="color-gem">
                <span class="item-type">Double Strike</span>
            </div>
        </div>

        <div class="item-stats">
            <span class="item-text">
                Attack, Melee<br>
                Level: <span class="color-default">20 (Max)</span><br>
                Mana Cost: <span class="color-default">11</span><br>
                Quality: <span class="color-augmented">+20%</span>
            </span>
        </div>

        <div class="separator-gem"></div>

        <div class="requirements">
            <span class="item-text">
                Requires Level <span class="color-default">68</span>
                , <span class="color-default">151</span> Dex
            </span>
        </div>

        <div class="separator-gem"></div>

        <div>
            <span class="color-gem">Performs two fast attacks on target enemy with<br>your main hand melee weapon.</span>
        </div>

        <div class="separator-gem"></div>

        <div class="explicit-mod">
            <span>76% increased Physical Damage</span><br>
            <span>Deals 70% of Base Damage</span><br>
            <span>10% increased Attack Speed</span><br>
        </div>

        <div class="separator-gem"></div>

        <div>
            <span class="item-text">Place into an item socket of the right colour to gain<br>this skill. Right click to remove from a socket.</span>
        </div>
    </div>
</div>