<div class="item-container">
    <div class="item-content">

        <div class="header-rare">
            <div class="header-rare-l"></div>
            <div class="header-rare-r"></div>
            <div class="color-rare">
                <span class="item-name">Skull Shelter</span>
            </div>
            <div class="color-rare">
                <span class="item-type">Saintly Chainmail</span>
            </div>
        </div>

        <div class="item-stats">
            <span class="item-text">
                Quality: <span class="color-augmented">+20%</span><br>
                Armour: <span class="color-augmented">1811</span><br>
                Energy Shield: <span class="color-augmented">641</span>
            </span>
        </div>

        <div class="separator-rare"></div>

        <div class="requirements">
            <span class="item-text">Requires Level <span class="color-default">70</span>
            , <span class="color-default">99</span> Str
            , <span class="color-default">115</span> Int</span>
        </div>

        <div class="separator-rare"></div>

        <div class="explicit-mod">
            <span>+50 to Intelligence</span><br>
            <span>+400 to Armour</span><br>
            <span>120% increased Armour and Energy Shield</span><br>
            <span>+145 to maximum Energy Shield</span><br>
            <span>+45% to Lightning Resistance</span><br>
            <span>+45% to Cold Resistance</span>
        </div>

        <div class="separator-rare"></div>

        <div class="item-effects">
            <span class="">Has Exalted Armour Effect</span>
        </div>
    </div>
</div>